.close{
    cursor: pointer;
    font-family:  Helvetica, Arial, sans-serif;
    position: absolute;
    right: -1px;
    top: 10px;
    width: 24px;
    height: 24px;
    transform: scale(1.8,1.2);
}
.close::after{
    content: 'x';
}
.list_manager{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 51px;
    line-height: 50px;
    padding: 0 15px;
    position: absolute;
}
.mapArea{
    height: 100%;
}
.outer_container{
    background-color: white;
    display: none;
    padding: 40px 0;
}
.wait_for_load{
    background-color: rgb(255, 223, 153);
    box-shadow: 11px 10px 80px 4px rgba(0,0,0,0.5);
    font-family: 'Open Sans';
    padding: 40px 80px;
    position: absolute;
}
.wait_for_load::after{
    content: "Загрузка данных...";
}