.balloon-pic-signature,
.balloon-pic-signature +div,
.ymaps-b-balloon__content-body ul{
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}
/* подпись под иллюстрацией в балуне */
.balloon-pic-signature{
    font-size: 18px;
    font-weight: bold;
    margin: 8px auto;
}
/* следующий блок */
.balloon-pic-signature +div{
    font-size: 12px;
}
.marker{
    font-weight: bold;
    text-align: center;
    padding-top: 2px;
    width: 25px;
}
.ymaps-b-balloon__content-body img{
    cursor: pointer;
}
/* метраж, год, колич-во фото, кнопка "Видео"*/
.ymaps-b-balloon__content-body ul{
    display: table;
    /* margin-bottom: -10px; */
    margin-top: 24px;
    padding: 0;
    width: 100%;
}
.ymaps-b-balloon__content-body ul li{
    color: #999;
    display: table-cell;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    text-align: center;
}
.ymaps-b-balloon__content-body ul li:nth-child(3){
    background: url("../assets/images/controls/camera.png") no-repeat 6px 0;
    cursor: pointer;
    min-width: 26px;
    padding-left:28px;
}
.ymaps-b-balloon__content-body ul li:nth-child(4) button{
    background: url("../assets/images/controls/play.png") no-repeat;
    border: none;
    color: #999;
    cursor: pointer;
    font-size: 12px;
    padding-left: 23px;
}
/* изменить значок закрытия балуна */
.ymaps-b-balloon__close{
    background: url("../assets/images/controls/close-balloon.png") !important;
    height: 23px !important;
    right: 2px !important;
    top:3px !important;
    width: 23px !important;
}
/* контейнер балуна */
.ymaps-b-balloon__content-holster{
    padding: 25px 25px 0 22px !important;
}
/* скорректировать позицию тени балуна */
.ymaps-b-balloon-shadow.ymaps-b-balloon-shadow_footer_yes{
    top: -23px !important;
}
/* прирастим балуну собственный хвост! */
.ymaps-b-balloon__sprite_type_tail{
    background: url("../assets/images/controls/balloon-tail.png") !important;
    left: -3px !important;
    height: 12px !important;
}