#images-container img,
#images-container,
#pix {
    height: 402px;
}
#images-container {
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 788px;
}
#images-container >section{
    background-color: white;
    bottom: 0;
    opacity: 0.45;
    position: absolute;
    top:0;
    width: 128px;
}
#images-container section.left{
    left:0
}
#images-container section.right{
    right: 0;
}
#images-container img {
    width: 532px;
}
#object-data{
    font-family: 'Open Sans', sans-serif;
}
#object-desc{
    color: #999;
    font-size: 13px;
    margin: 10px auto;
    text-align: center;
    transform: scaleX(1.05);
    width: 35%;
}
#object-desc-short{
    text-align: center;
    transform: scaleX(0.93);
    color: #333;
}
#object-historical-ref{
    font-weight: bold;
    margin-top: 46px;
    text-align: center;
}
#object-historical-ref span:first-child{
    background: url("../../assets/images/controls/roundImage2.png") no-repeat -5px 15px;
    display: inline-block;
    height: 60px;
    margin-left: -6px;
    margin-top: -17px;
    text-align: center;
    padding-top: 20px;
    vertical-align: middle;
    width: 34px;
}
#object-historical-ref >div{
    display: inline-block;
    
    height: 40px;
    margin-left: 16px;
    padding-top: 4px;
    vertical-align: middle;
}
#object-name{
    font-size: 24px;
    font-weight: normal;
    margin: 33px auto 3px;
    padding: 0;
    text-align: center;
    /* color: red; */
    transform: scaleX(1.05);
}
#object-params{
    display: table;
    margin: 14px auto;
    padding: 0;
    width: 68%;
}
#object-params sup{
    font-size: 15px;
}
#object-params li{
    display: table-cell;
    text-align: center;
    width: 33.333%;
}
#object-params li span:first-child{
    font-size: 50px;
    margin: auto 0px auto 0px;
}
#object-params li span:first-child +span{
    font-size: 25px;
}
#object-params li >div{
    font-size: 12px;
    font-weight: bold;
    margin-top: -7px;
    margin-left: -20px;
    color: #666;
}
#object-state{
    font-weight: bold;
    font-size: 14px;
    padding-top: 5px;
    text-align: center;
    transform: scaleX(1.1);
    color: #336600;
}
#object-video{
    background-color: red;
    border: none;
    border-radius: 31px;
    color: white;
    display: block;
    font-weight: bold;
    height: 63px;
    margin: 25px auto;
    padding-left: 63px;
    text-align: left;
    /* opacity: 0.5; */
    width: 209px;
    position: relative;
}
#object-video >div{
    /* background: yellow; */
    border-radius: 50%;
    border: solid 2px;
    color: white;
    font-size: 2em;
    height: 40px;
    left: 12px;
    position: absolute;
    top: 10px;
    padding-left: 8px;
    padding-top: 3px;
    width: 40px;
}
#object-video::after{
    content: "Смотреть видео";
}
#object-video >div::after{
    content: '►';
}
#object-video +hr{
    margin-top: -57px;
}
#pix {
    left: -404px;
    position: absolute;
    width: 2150px;/*2128px;*/
}